*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family:  "Roboto", sans-serif;
}

body{
    position: relative;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

.header{
    background: #fff;
    width: 100%;
    box-shadow:0 10px 100px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 1000;
}

.header__content{
    width: 100%;
    padding: 15px 50px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.header__logo-container{
    display:flex;
    align-items: center;
    cursor: pointer;
}

.header__logo-img-cont{
    width: 50px;
    height: 100%;
    border-radius: 50%;
    background: #047a9c;
    overflow: hidden;
    margin-right: 10px;
}

.header__logo-img{
    height: 100%;
    width: 100%;
    background: #047a9c;
    display: block;
}

.header__logo-sub{
    text-transform: uppercase;
    color: #333;
    font-size:medium;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header__logo-sub:hover{
    color: #047a9c;
}

.header__nav-links{
    display: flex;
}

.header__link{
    padding: 15px;
    color: #333;
    text-transform: uppercase;
    font-size:small;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header__link:hover{
    color: #047a9c;
}

.home{
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../assets/svg/background.svg);
    height: 100vh;
    position: relative;
}

.home__content{
    width: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.home__heading{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.home__info{
    margin: 2rem 2rem 0;
}

.home__info-text{
    color: #333;
    font-size: 1.2rem;
    text-align: center;
}

.home__cta{
    margin: 2rem 0 0 0;
    text-align: center;
}

.home__cta-btn{
    background: #047a9c;
    color: #fff;
    padding: 1rem 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    display: inline-block;
}

.home__socials{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: .5rem;
}

.home__social{
    width: 3rem;
}

.home__social-icon-link{
    width: 100%;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
}

.home__social-icon-link:hover{
    background: #c5d9de;
}