*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family:  "Roboto", sans-serif;
}

::selection {
    background: rgb(87, 204, 230);
  }

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

textarea{
    resize: none;
}

input:focus, button:focus, a:focus, textarea:focus{
    outline: none;
}

.header{
    background: #fff;
    width: 100%;
    box-shadow:0 10px 100px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 1000;
}

.header__content{
    width: 100%;
    padding: 15px 50px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.header__logo-container{
    display:flex;
    align-items: center;
    cursor: pointer;
}

.header__logo-img-cont{
    width: 50px;
    height: 100%;
    border-radius: 50%;
    background: #047a9c;
    overflow: hidden;
    margin-right: 10px;
}

.header__logo-img{
    height: 100%;
    width: 100%;
    background: #047a9c;
    display: block;
}

.header__logo-sub{
    text-transform: uppercase;
    color: #333;
    font-size:medium;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header__logo-sub:hover{
    color: #047a9c;
}

.header__nav-links{
    display: flex;
}

.header__link{
    padding: 20px;
    color: #333;
    text-transform: uppercase;
    font-size:medium;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header__link:hover{
    color: #047a9c;
}

.home{
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../assets/svg/background.svg);
    height: 100vh;
    position: relative;
}

.home__content{
    width: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    max-width: 50rem;
}

.home__heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.home__info{
    margin: 2rem 2rem 0;
    
}

.home__info-text{
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

.home__cta{
    margin-top: 3rem;
    text-align: center;
}

.btn{
    background: #047a9c;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    display: inline-block;
    transition: transform .3s;
}

.btn:hover{
    transform: translateY(-5px);
}

.cta-btn{
    padding: 1rem 4.5rem;
    font-size: 1.2rem;
}

.home__socials{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: .5rem;
}

.home__social{
    width: 3rem;
}

.home__social-icon-link{
    width: 100%;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
}

.home__social-icon-link:hover{
    background: #c5d9de;
}

.sec-pad{
    background: #fff;
    padding: 8rem 0;
}

.main-container{
    margin: auto;
    width: 92%;
}

.main-container-heading{
    margin-bottom: 5rem;
}

.heading-sec__main{
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    color: #111;
    font-weight: bold;
    position: relative;
}

.heading-sec__main::after{
    content: "";
    position: absolute;
    background: #047a9c;
    height: 5px;
    width: 2rem;
    top: calc(100% + 1.5rem);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.heading-sec__sub{
    display: block;
    color: #555;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    font-weight: 400;
    line-height: 1.6;
    max-width: 50rem;
}

.about{
    background: #fafafa;
}

.about__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
}

.about__content-text-title{
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.contact-btn {
    padding: 0.8rem 3.5rem;
    font-size: 1rem;
}

.about__content-skills-title{
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.about__content-text-details-para{
    font-size: 1.2rem;
    color: #666;
    line-height: 1.7;
    margin-bottom: 1rem;
    text-align: justify;
}

.about__content-skills-details{
    display: flex;
    flex-wrap: wrap;
}

.about__content-skills-details-skill{
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    background: #99999933;
    color: #666;
    font-weight: 600;
    border-radius: 5px;
}

.projects__row{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 8rem;
}

.projects__row-img-cont{
    margin: auto;
}

.projects__row-img{
    height: 400px;
}

.projects__row:last-child {
    margin-bottom: 0;
}

.projects__row-content{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects__row-content-title{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.projects__row-content-desc{
    font-size: 1.2rem;
    color: #666;
    line-height: 1.7;
}

.contact{
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../assets/svg/background.svg);
}

.contact__form-container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    padding: 2rem;
    text-align: right;
    border-radius: 5px;
    margin: 3rem auto 0;
    max-width: 50rem;
}

.contact__form-field{
    margin-bottom: 2rem;
}

.contact__form-label{
    color: #666;
    font-size: 1rem;
    letter-spacing: 0.8px;
    font-weight: 700;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}

.contact__form-input{
    color: #333;
    padding: 1rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 400;
}

.submit-btn{
    width: 20%;
    padding: 1rem 2rem;
    border: none;
    font-size: 1rem;
}

.footer{
    background: #000;
    color: #fff;
}

.footer__upper{
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}

.footer__upper-row-1{
    order: 2;
}

.footer__upper-row-2{
    order: 1;
    width: 40%;
}

.footer__heading{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer__socials{
    margin-top: 1rem;
}

.footer__desc{
    margin-top: 1rem;
}

.footer__icon{
    margin-right: 1rem;
    width: 2rem;
}

.footer__lower{
    padding: 3rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 0.8rem;
    text-align: center;
}


/* res */
.header__nav-res{
    display: none;
}

.header__res-content{
    background: #fff;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    display: none;
}

.header__res-content-link a{
    display: block;
    padding: 20px;
    color: #333;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.header__res-content-link a:hover{
    color: #047a9c;
}


@media screen and (max-width: 750px) {
    .header__nav-res{
        display: block;
    }

    .header__nav-links{
        display: none;
    }

    .menu-d-none{
        display: none;
    }

    .home__socials{
        display: none;
    }

    .home__content{
        left:50%;
        transform: translate(-50%, -55%);
    }

    .about__content{
        grid-template-columns: 1fr;
        grid-gap: 6rem;
    }

    .projects__row{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    .projects__row-img{
        height: 200px;
    }

    .submit-btn{
        width: 100%;
    }

    .header__res-content--active{
        background: #fff;
        width: 100%;
        visibility: visible;
        opacity: 1;
        display:contents;
    } 
}